:host {
    width: 250px;
    margin-top: 56px;
    height: calc(100vh - 56px);
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1001;
    -webkit-box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &.collapsed {
        width: 65px;
        overflow-y: inherit;
        .nav-label {
            display: none;
        }
        .mm-active .mm-show {
            display: none;
        }
        .nav-2-level {
            position: absolute;
            top: auto;
            left: 100%;
            min-width: 200px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            -webkit-box-shadow: 0 4px 4px #ddd;
            -moz-box-shadow: 0 4px 4px #ddd;
            box-shadow: 0 4px 4px #ddd;
            border-left: 0 solid hsla(0, 0%, 100%, 0.1);
            padding: 10px 0;
            li a {
                padding-left: 30px !important;
                font-size: 13px;
                &::before {
                    left: 15px !important;
                }
            }
        }
        .nav-label-pop {
            position: absolute;
            left: 100%;
            display: block;
            background-color: #fff;
            -webkit-box-shadow: 0 0 4px #ddd;
            -moz-box-shadow: 0 0 4px #ddd;
            box-shadow: 0 0 4px #ddd;
            padding: 0.45rem 0.8rem;
            top: 3px;
            min-width: 200px;
            line-height: 30px;
            display: none;
            opacity: 0;
        }

        .subnav {
            &.multi-level {
                .nav-label-pop {
                    min-width: 400px;
                }

                .nav-2-level {
                    min-width: 400px;
                    li {
                        display: inline-block;
                        vertical-align: top;
                        width: 48%;
                        padding-right: 10px;
                    }
                }
            }
        }
        li:hover .nav-label-pop {
            transition: all 0.2s linear;
            opacity: 1;
            cursor: pointer;
            display: block;
        }
        .metismenu {
            li a.has-arrow {
                display: none;
            }
            .has-arrow-collapse-show {
                display: block !important;
            }
        }
        .subnav:hover .nav-2-level {
            display: block;
        }
    }

    .nav-label {
        display: inline-block;
        padding-left: 5px;
        -webkit-transition: color 0.15s ease-in-out;
        transition: color 0.15s ease-in-out;
    }
    .nav-label-pop {
        display: none;
    }
    .metismenu,
    .metismenu ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .metismenu {
        margin-top: 5px;
    }
    .metismenu li {
        position: relative;
        margin: 3px 0;
        .active {
            color: var(--tertiary);
            border-right: 2px solid var(--tertiary);
            span,
            i {
                color: var(--tertiary);
            }
            .nav-label-pop {
                background: #fff;
                -webkit-box-shadow: 0 4px 4px #ddd;
                -moz-box-shadow: 0 4px 4px #ddd;
                box-shadow: 0 4px 4px #ddd;
            }
        }
    }
    .metismenu li a {
        display: block;
        padding: 0.65rem 1.45rem;
        color: var(--dark);
        text-decoration: none;
        white-space: nowrap;
        transition: all 0.4s ease-in-out;
    }
    .metismenu .subnav {
        .nav-label-pop {
            cursor: default;
        }
        li {
            margin: 0;
            a {
                padding: 0.4rem 0.75rem;
                padding-left: 3.5rem;
                position: relative;
                i {
                    padding-right: 10px;
                    min-width: 26px;
                }
                &::before {
                    content: "";
                    width: 6px;
                    height: 2px;
                    background-color: #7c7f90;
                    position: absolute;
                    left: 25px;
                    top: 13px;
                    transition: all 0.4s ease-in-out;
                    opacity: 0.5;
                }
            }
        }
    }
    .nav-img {
        display: inline-block;
        min-width: 30px;
        font-size: 20px;
        text-align: center;
        position: relative;
        left: -3px;
        top: 3px;
        color: var(--dark);
        transition: all 0.4s ease-in-out;

        &.fa-1x {
            font-size: 18px;
        }
        &.fa-2x {
            font-size: 19px;
        }
        &.fa-3x {
            font-size: 20px;
        }
        &.fa-4x {
            font-size: 22px;
        }
        &.fa-5x {
            font-size: 24px;
        }
        &.fa-6x {
            font-size: 28px;
        }
        &.fa-7x {
            font-size: 30px;
        }
    }
    .metismenu li a:hover,
    .metismenu li a:hover i,
    .metismenu a:hover span {
        color: var(--dark);
    }
    .metismenu ul li a:hover {
        &::before {
            background-color: #000;
        }
    }
    .metismenu ul a {
        padding-left: 2rem;
    }
    .subnav .has-arrow .nav-label {
        padding-right: 30px;
    }
    .subnav .has-arrow::before {
        font-family: "FontAwesome";
        content: "\f105";
        font-size: 18px;
        position: absolute;
        right: 14px;
        top: 13px;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        transition: all linear 0.3s;
    }
    .subnav.mm-active .has-arrow::before {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .metismenu .mm-collapse:not(.mm-show) {
        display: none;
    }
    .metismenu .mm-collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition-timing-function: ease;
        transition-duration: 0.35s;
        transition-property: height, visibility;
    }
    .metismenu .has-arrow {
        position: relative;
    }
    .metismenu .has-arrow:after {
        position: absolute;
        content: "";
        width: 0.5em;
        height: 0.5em;
        border-style: solid;
        border-width: 1px 0 0 1px;
        border-color: initial;
        right: 1em;
        transform: rotate(-45deg) translateY(-50%);
        transform-origin: top;
        top: 50%;
        transition: all 0.3s ease-out;
    }
    [dir="rtl"] .metismenu .has-arrow:after {
        right: auto;
        left: 1em;
        transform: rotate(135deg) translateY(-50%);
    }
    .metismenu .has-arrow[aria-expanded="true"]:after,
    .metismenu .mm-active > .has-arrow:after {
        transform: rotate(-135deg) translateY(-50%);
    }
    [dir="rtl"] .metismenu .has-arrow[aria-expanded="true"]:after,
    [dir="rtl"] .metismenu .mm-active > .has-arrow:after {
        transform: rotate(225deg) translateY(-50%);
    }
    .app-side li {
        position: relative;
    }
    .has-arrow {
        &::after {
            display: none;
        }
    }
    .has-arrow-collapse-show {
        display: none !important;
    }
}

@media (max-width: 992px) {
    :host {
        
        margin-top: 88px;
        height: calc(100vh - 88px);
        &.collapsed {
            width: 0;
            left: -52px;
        }
    }
}
