<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="menubars" role="button" (click)="menu=!menu">
                    <i class="las la-bars"></i>
                </a>
                <img src="../../../../assets/logo.png" alt="logo" class="logo">
            </div>
            <div class="d-flex">
                <div class="me-2">                 

                    <ng-select class="form-control" [items]="cars" bindLabel="name" bindValue="id"
                        [(ngModel)]="selectedCar">
                    </ng-select>
                </div>
                <div class="logout-profile">
                    <div class="btn-group" dropdown placement="bottom right">
                        <div class="c-drop-btn header-profile" id="button-animated" dropdownToggle type="button">
                            <h4 class="pointer">sg</h4>
                            <strong class="pointer">Satyam Ganta</strong>
                            <label class="pointer d-block">Oct 10, 01:30pm</label>
                        </div>
                        <div id="dropdown-animated" *dropdownMenu
                            class="dropdown-menu dropdown-menu-right dropdown-menu-header" role="menu"
                            aria-labelledby="button-animated">
                            <div class="login-info">
                                <p class="font-wb">Satyam Ganta</p>
                                <a class="dropdown-item email">
                                    <i class="las la-envelope pe-2"></i>satyamganta@gmail.com</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="dropdown-item dropdown-link">
                                <i class="las la-user-alt"></i>My Profile</a>
                            <a role="button" class="dropdown-item dropdown-link">
                                <i class="las la-lock-open"></i>Change Password</a>
                            <a [routerLink]="['./login']" role="button" class="dropdown-item dropdown-link logout-link">
                                <i class="las la-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>